.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.masthead::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
.masthead h1, .masthead p {
    position: relative;
    z-index: 1;
}
.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #ffc107;
}
.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}