<!-- El propósito de esté archivo es mostrar la lista de solicitudes de becas que están Pendientes de revisión para un usuario administrador o analista. -->

{% extends 'admin_dashboard.html' %}
{% load static %}
{% block content %}

<div class="container py-4">
    <h2 class="display-6 text-center mb-4">Solicitudes de Becas Pendientes</h2>

    {% if solic_pend %}
    <div class="list-group">
        {% for solicitud in solic_pend %}
        <div class="list-group-item list-group-item-action mb-3 shadow-sm rounded-3">
            <p class="mb-1">
                <strong>Nombre del Solicitante:</strong> {{ solicitud.user.username }} {# Access username for User model #}
            </p>
            <p class="mb-1">
                <strong>Correo del Solicitante:</strong> {{ solicitud.user.email }} {# Access email for User model #}
            </p>
            <p class="mb-2">
                <strong>Tipo de Beca:</strong> {{ solicitud.beca.nombre|default:"Beca Desconocida" }} {# Access name for Becas model #}
            </p>
            <p class="mb-3">
                <strong>Estado de la Beca:</strong> <span class="badge bg-warning text-dark fs-6"> {{ solicitud.estatus_beca.nombre|default:"Estado Desconocido" }}</span> {# Access name for EstatusBeca model #}
            </p>
            <p class="mb-4">
                <strong>Fecha de Creación:</strong> {{ solicitud.fecha_creacion }}
            </p>
            <div class="d-flex justify-content-end gap-2">
                <a href="{% url 'solic_details' solicitud.id_solicitud %}" class="btn btn-sm btn-warning">Revisar Solicitud</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Si la lista solic_pend está vacía (no hay solicitudes pendientes).
    <div class="alert alert-info text-center" role="alert">...</div>	Muestra un mensaje informativo en una caja azul de Bootstrap indicando que no hay solicitudes pendientes.-->

    {% else %}
    <div class="alert alert-info text-center" role="alert">
        No hay solicitudes de becas pendientes en este momento.
    </div>
    {% endif %}

</div>

<!-- Botón que le permite al usuario regresar al panel de inicio principal del administrador. -->
<div class="mt-4 mb-5">
    <a href="{% url 'admin_home' %}" class="btn btn-danger">
        <ion-icon name="arrow-back-outline"></ion-icon> Volver atrás
    </a>
</div>

{% endblock %}